.page-bg {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-image: url("https://images.unsplash.com/photo-1556745757-8d76bdb6984b");
}

.inner-background {
  background-color: #ffffff;
  border-radius: 2%;
  padding: 50px;
}

.textbox-border {
  border-color: #e2e8f0;
  border-width: 1px;
  border-style: solid;
  border-radius: 2%;
}

.block {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
}

.label {
  text-align: left;
}
.box {
  margin-top: 16px;
  margin-bottom: 16px;
}
.button {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  margin: 16px;
  width: auto;
}
