body {
  background-color: aqua;
}
.inner-background {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: fit-content;
  border-radius: 5%;
}

.text-center {
  text-align: center;
}

.textbox-border {
  border-color: #e2e8f0;
  margin: 16px;
  border-width: 1px;
  border-style: solid;
}

.block {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 8px;
}

.label {
  text-align: left;
}
.box {
  margin-top: 16px;
  margin-bottom: 16px;
}
