body {
  background-image: url("https://images.unsplash.com/photo-1556745757-8d76bdb6984b");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content-container {
  background-color: #ffffff;
  padding: 40px;
}

.description {
  text-align: center;
}

.input-field {
  margin: 16px 0;
}

.label {
  display: block;
  padding: 8px 0;
}

.input-box {
  padding: 8px;
  border: 1px solid #e2e8f0;
  border-radius: 5%;
  width: 100%;
}

.button {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  margin-top: 16px;
  width: 100%;
}
